dtd/fkvnob.dtd

<!ELEMENT r (lics?, e+, xhtml:script?) >
<!ATTLIST r xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml"
    xml:lang ( nob | sme | sma | swe | eng | deu | smn | fin | fkv | sms | myv | mhr | sjd | rus | smj ) #IMPLIED
>
<!ATTLIST r
      id ( smenob | nobsme | smnfin | finsmn | finsme | fkvnob | smnsme | smjsme | smesmn | smesmj | smesma | smefin | smasme | smanob | nobsma | smafin | swesma | smeeng |
      nobsmj ) #IMPLIED >

<!--
<!ELEMENT r (lics?, e+, xhtml:script?) >
<!ATTLIST r xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml"
    xml:lang ( nob | sme | sma | swe | eng | deu | smn | fin | fkv| sms | myv | mhr | sjd | rus | smj ) #IMPLIED
 id ( fkvnob | nobfkv ) #IMPLIED
 >
-->

<!-- the header -->
<!ELEMENT lics (lic, ref*, sourcenote*) >
<!ATTLIST lics xml:space (default|preserve) 'preserve'
    xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml"
>
<!ELEMENT lic (#PCDATA|a)*>
<!ATTLIST lic xml:lang ( en | nno ) #IMPLIED >
<!ELEMENT ref (#PCDATA|a|i)*>
<!ELEMENT sourcenote (#PCDATA|a)*>
<!ELEMENT a (#PCDATA)>
<!ELEMENT i (#PCDATA)>

<!ELEMENT e ( lg, mg+ ) >
<!-- ATTLIST e reverse NMTOKEN #IMPLIED -->
<!ATTLIST e src CDATA #REQUIRED >
<!ATTLIST e dial (p|r|v|pv|rv|pr|prv) #IMPLIED
 id  CDATA #IMPLIED
 reverse (yes) #IMPLIED
 >

<!ELEMENT l ( #PCDATA ) >
<!ATTLIST l comment CDATA #IMPLIED >
<!ATTLIST l nr ( Pl ) #IMPLIED >
<!ATTLIST l pos ( A | Abbr | Adv | CC | CS | Clt | Interj | 
                  N | Num | Pcle | Po | Pr | Pron | Qu | V ) #IMPLIED >
<!ATTLIST l src NMTOKEN #IMPLIED >
<!ATTLIST l stem ( 2syll | 3syll | weak ) #IMPLIED >
<!ATTLIST l t_type ( Phrase ) #IMPLIED >
<!ATTLIST l type NMTOKEN #IMPLIED >
<!ATTLIST l val ( IV | TV ) #IMPLIED >
<!ATTLIST l dial (p|j|v|pv|jv|pj) #IMPLIED >
<!ATTLIST l sem_type ( Obj | Org | Plc ) #IMPLIED >
<!ATTLIST l outer_cases ( True | False ) #IMPLIED >
<!ATTLIST l hid CDATA #IMPLIED >
<!ATTLIST l re CDATA #IMPLIED >
<!ATTLIST l context CDATA #IMPLIED >


<!ELEMENT lg ( l, lemma_ref*, stem*, analysis*, mini_paradigm*, algu?) >
<!ELEMENT lemma_ref (#PCDATA) >
<!ATTLIST lemma_ref lemmaID CDATA #IMPLIED >
<!ELEMENT analysis (#PCDATA|wordform)* >
<!ATTLIST analysis ms CDATA #IMPLIED >
<!ELEMENT wordform (#PCDATA) >
<!ELEMENT mini_paradigm (analysis+) >

<!-- algu = lemma IDs in the algu database -->
<!ELEMENT algu EMPTY >
<!ATTLIST algu
      lekseemi_id CDATA #REQUIRED >
<!ATTLIST algu
      sanue_id CDATA #REQUIRED >

<!ELEMENT mg ( tg+ | xg* ) >


<!ELEMENT stem ( #PCDATA ) >

<!ELEMENT syn ( #PCDATA ) >

<!ELEMENT syng ( syn+ ) >

<!ELEMENT re ( #PCDATA ) >

<!ELEMENT t ( #PCDATA ) >
<!ATTLIST t comment CDATA #IMPLIED >
<!ATTLIST t gen ( f | m | n ) #IMPLIED >
<!ATTLIST t nr ( Pl ) #IMPLIED >
<!ATTLIST t pos ( A | Adv | CC | CS | Cp | Det | Interj | 
                  N | Num | Po | Pr | Pron | V ) #IMPLIED >
<!ATTLIST t t_type ( expl | Phrase )  #IMPLIED >
<!ATTLIST t type ( Prop ) #IMPLIED >

<!ELEMENT tg ( re? | t | syng? | xg? )* >
<!ATTLIST tg comment CDATA #IMPLIED >
<!ATTLIST tg re CDATA #IMPLIED >
<!ATTLIST tg xml:lang ( nob ) #IMPLIED >
<!ATTLIST tg dial (p|j|v|pv|jv|pj) #IMPLIED >

<!ELEMENT xg ( x, xt ) >
<!ATTLIST xg re CDATA #IMPLIED >
<!ELEMENT x ( #PCDATA ) >
<!ELEMENT xt ( #PCDATA ) >

<!ELEMENT xhtml:script EMPTY >
<!ATTLIST xhtml:script type CDATA #FIXED "text/javascript" >
<!ATTLIST xhtml:script src  CDATA #IMPLIED >
<!ATTLIST xhtml:script xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml" >
