scripts/dict_fkvnob.dtd

<!ELEMENT e ( lg, mg+ ) >
<!ATTLIST e reverse NMTOKEN #IMPLIED >
<!ATTLIST e src CDATA #REQUIRED >

<!ELEMENT l ( #PCDATA ) >
<!ATTLIST l comment CDATA #IMPLIED >
<!ATTLIST l decl NMTOKEN #IMPLIED >
<!ATTLIST l nr ( Pl ) #IMPLIED >
<!ATTLIST l pos CDATA #REQUIRED >
<!ATTLIST l src NMTOKEN #IMPLIED >
<!ATTLIST l stem NMTOKEN #IMPLIED >
<!ATTLIST l type NMTOKEN #IMPLIED >
<!ATTLIST l val ( IV | TV ) #IMPLIED >

<!ELEMENT lg ( l, stem* ) >

<!ELEMENT mg ( tg ) >

<!ELEMENT r ( e+ ) >

<!ELEMENT stem ( #PCDATA ) >

<!ELEMENT syn ( #PCDATA ) >

<!ELEMENT syng ( syn+ ) >

<!ELEMENT t ( #PCDATA ) >
<!ATTLIST t comment CDATA #IMPLIED >
<!ATTLIST t decl ( a1 | a4 | ax | f | m | m1 | x ) #IMPLIED >
<!ATTLIST t gen ( a | a1 | a2 | f | f1 | m | m1 | m2 | n | v | x ) #IMPLIED >
<!ATTLIST t nr NMTOKEN #IMPLIED >
<!ATTLIST t pos CDATA #REQUIRED >
<!ATTLIST t t_type NMTOKEN #IMPLIED >
<!ATTLIST t type NMTOKEN #IMPLIED >

<!ELEMENT tg ( syng | t | xg )* >
<!ATTLIST tg comment CDATA #IMPLIED >
<!ATTLIST tg re CDATA #IMPLIED >
<!ATTLIST tg xml:lang ( nob ) #IMPLIED >

<!ELEMENT x ( #PCDATA ) >

<!ELEMENT xg ( x, xt ) >

<!ELEMENT xt ( #PCDATA ) >

